.custom-btn {
    background-color: rgb(250, 250, 210) !important;
    /* 设定背景颜色 */
    border-color: rgb(220, 220, 180);
    /* 可以调整边框颜色 */
    color: rgb(0, 0, 0);
    /* 文字颜色 */
}

.custom-btn1 {
    background-color: rgb(240, 234, 211) !important;
    /* 设定背景颜色 */
    border-color: rgb(220, 220, 180);
    /* 可以调整边框颜色 */
    color: rgb(160, 124, 89);
    /* 文字颜色 */
}